{% extends "admin.layouts.app" %}

{% block title %}Создание документа{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-10">
            <h1>Создание документа</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-10">
            <table class="table table-hover table-strip">
                <thead>
                <tr>
                    <th>#</th>
                    <th>!</th>
                    <th>Название</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <form action="{{ route('admin_docs_add') }}" method="post">
                        {{ csrf_field() }}
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th><input type="text" class="form-control" name="name" value="" required></th>
                    <th><button type="submit" class="btn btn-primary btn-block">добавить</button></th>
                    </form>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>
                        {% if item.visible > 0 %}
                            <a href="{{ route('admin_docs_hide', {'id': item.id}) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        {% else %}
                            <a href="{{ route('admin_docs_show', {'id': item.id}) }}"><span class="glyphicon glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>
                        {% endif %}
                    </td>
                    <td>{{ item.name }}</td>
                    <td class="text-nowrap text-center">
                        <a href="{{ route('admin_docs_view', {id: item.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> редактировать</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){

        });
    </script>
{% endblock %}
